<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#">
    <img src="https://cs1.livemaster.ru/storage/42/b3/8091fdf1bf262c6920be8885f84v--kartiny-i-panno-kartina-cheshirskij-kot-pod-zvezdnym-nebom-sve.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap Homework
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%=users_path%>>Main page</a>
          <a class="dropdown-item" href=<%=user_images_path(user_id: @user.id)%>>Show my favourites</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <% @urls.each do |url|%>
      <div class="col-sm-3">
        <div class="card">
          <div class="container">
            <img class="card-img-top img-fluid image" src=<%= url %> alt="image">
            <div class="overlay">
              <div class="text">Picture ID</div>
            </div>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer"><center><%= link_to 'Add to favourites', user_image_path(user_id: @user.id, url: url), method: :put, class: "btn btn-success" %></center></div>
        </div>
      </div>
    <% end %>
  </div>
</div>